

.home {

	
	.fandom-list {

		.overlay{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: .60;
		}
		
		.placementoverlaybar{
			height: 100%;
			background-color: black;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: .75;
		}

		.fandom{
			position: relative;
			color: red;
			height:100px;
			background-size: cover;
		  background-position: center;
			margin: 5px;


			.info{
				position: relative;
				z-index: 5;
			  height: 100%;
			}
			.time{
				position: absolute;
				bottom: 20px;
				right: 20px;
				font-size: 15;
			}
			.place{
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 20px;
			}
			.name{
				padding-top: 20px;
				padding-left: 20px;
			}
			.description{
				position: absolute;
				left: 20px;
				font-size: 12px;
			}
			.energy{
				position: absolute;
				left: 20px;
				bottom: 20px;
			}
			&.light{
				color: white;
				text-shadow: 1px 1px black;
			}
			&.dark{
				color: black;
				text-shadow: 1px 1px white;
			}
		}
	}

}


// .fandom {
		// 	position: relative;
		// 	height: 75px;
		// 	line-height: 75px;

		// 	.detail {
		// 		display: flex;
		// 		z-index: 1;
		// 		position: relative;
		// 	}

		// 	img {
		// 		height: 75px;
		// 	}

		// 	&.dark {
		// 		color: black;
		// 	}

		// 	&.light {
		// 		color: white;
		// 	}

		// 	.title {
		// 		font-size: 21px;
		// 	}

		// 	.score {

		// 	}

		// 	.time {

		// 	}

		// 	.hero {
		// 		max-height: 100px;
		// 		mix-blend-mode: multiply;
		// 		filter: grayscale(100%);
		// 		z-index: 0;

		// 		opacity: 0.3;
		// 		background-size: cover;
		// 		background-repeat: no-repeat;
		// 		background-position: 100% 50%;
		// 		position: absolute;
		// 		right: 0;
		// 		left: 0;
		// 		top: 0;
		// 		bottom: 0;
		// 	}

		// }