
@import '_reset';
@import '_config';
@import '_layers';
@import '_fonts';
@import '_login';
@import '_frame';
@import '_home';

html, body {
  font-family: $default-font;
  background: $default-background;
  color: $default-font-color;
}

.login{
  .container{
    margin: 20px;
  }
}
